aiohttp
aiosignal
antlr4-python3-runtime
appdirs
async-timeout
attrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
docker-pycreds
fair-esm
filelock
fonttools
frozenlist
fsspec
fsspec[http]
fuzzywuzzy
gitdb
gitpython
h5py
huggingface-hub
idna
importlib-resources
jinja2
joblib
kiwisolver
lightning-utilities
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
multidict
networkx
numpy
omegaconf
packaging
pandas
pathtools
pillow
protobuf
psutil
pygments
pyparsing
pytdc
python-dateutil
pytorch-lightning
pytz
pyyaml
rdkit-pypi
rdkit
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
setuptools
shellingham
six
smmap
sympy
threadpoolctl
tokenizers
torch
torchmetrics
tqdm
transformers
typer[all]
typing-extensions
urllib3
wandb
yarl
zipp
